html {
  margin: 0;
}

body {
  font-family: "Numans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px #00000077;
  margin-bottom: 0.6rem;
}

ul {
  margin: 0;
}

li {
  color: rgb(255, 255, 255);
}

li::marker {
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  color: #ffffff;
}

p {
  text-align: justify;
  font-size: clamp(0.5rem, 0.5vw + 0.5rem, 1rem);
}

h1 {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

h2 {
  font-size: clamp(1rem, 0.5vw + 1rem, 2rem);
}

h3 {
  font-size: clamp(0.7rem, 0.5vw + 1rem, 2rem);
}

h4 {
  font-size: clamp(0.5rem, 0.3vw + 0.9rem, 2rem);
}

strong {
  text-shadow: 1px 1px 2px #000000;
  color: #ffffff;
}

div.hidden {
  display: none;
  opacity: 0;
}

button.next:hover {
  background-color: #437497;
}

.div {
  background-color: #81818181;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 20px 0;
  margin-bottom: 7rem;
}

div p:last-child {
  margin-bottom: 0;
}

div:has(img) {
  width: auto;
  max-width: 100%;
}

img {
  width: 97%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(60, 133, 175, 0.5);
  transition: 0.08s;
}

img.zoom:hover {
  box-shadow: 0 0px 25px rgb(0, 0, 0);
  transition: 0.05s;
  transform: scale(115%);
  z-index: 1;
}

.f-pad {
  padding-bottom: 5px;
}

.no-pad {
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: underline;
}

p.textLink {
  background: linear-gradient(180deg, #1a74b1b0, #087697a1);
  border: 3px solid rgba(245, 245, 245, 0.301);
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
}

p.textLink > a {
  padding: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  font-size: 20px;
}

p.textLink > a > img {
  margin-right: 15px;
  margin-bottom: 0px;
  width: 4rem;
  height: 4rem;
  box-shadow: none;
}

p.textLink:hover {
  backdrop-filter: brightness(1.3);
}

button.download {
  background: linear-gradient(180deg, #1a74b1b0, #087697a1);
  border: 3px solid rgba(245, 245, 245, 0.301);
  color: #ffffff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: 0.2s;
  width: fit-content;
  height: auto;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

button.download > img {
  margin-right: 15px;
  margin-bottom: 0px;
  width: 4rem;
  height: 4rem;
  box-shadow: none;
}

button.download:hover {
  background-color: #4c92bd;
}

.navbar-container {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 2%;
  z-index: 100;
}

.navbar {
  background: linear-gradient(180deg, #1a74b1b0, #087697a1);
  width: 75%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  backdrop-filter: blur(3px);
  border: 2px solid #3c8ad3c0;
  border-radius: 12px;
  box-shadow: 0px 0px 5px #145068;
  flex-direction: row;
}

div.navbar-left,
div.navbar-right {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: min-content;
}
div.navbar-left {
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
}

div.navbar-right {
  justify-content: flex-end;
  flex-direction: row;
  min-width: 50%;
}

div.navbar button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

div.navbar-left button {
  font-size: clamp(1rem, 0.7vw + 1rem, 2rem);
  color: #ffffff;
  text-shadow: 1px 1px 3px #000000b4;
  padding: 5px;
  padding-bottom: 0px;
  border-bottom: 3px inset #6fd6ff96;
  margin-bottom: 7px;
  margin-top: -2px;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.vline {
  width: 1px;
  height: 3.3rem;
  max-height: 65px;
  background-color: #00aab600;
  border: #0f8bb1bd 1px solid;
  margin: 0 1px;
}

div.navbar-right button:first-child {
  border-left: none;
  margin-left: 0;
}

div.navbar-right button {
  font-size: clamp(0.2rem, 0.5vw + 0.5rem, 1.2rem);
  color: #95ddff;
  text-shadow: 1px 1px 2px #000000b4;
  width: 150px;
  min-width: 50px;
  text-align: center;
  margin: 5px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  max-height: 80px;
  word-wrap: break-word;
  border-bottom: 3px inset #7bd0f1c2;
  background-color: #23576e28;
  border-radius: 3px;
}

div.navbar button:hover {
  color: #c0f2ff;
  background-color: #0000001e;
}

div.navbar button:active {
  color: #ffffff;
  transition: 0.01s;
  transform: scale(1.03);
}

.lIcon-container {
  position: fixed;
  bottom: 1%;
  left: 0.5%;
  width: 75px;
  height: 75px;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.lIcon-container > img {
  background-color: #ffffff59;
  border-radius: 7px;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.lIcon-container > img:hover {
  background-color: #8ffff662;
}

.lIcon-container > img:active {
  background-color: #1c63c062;
  transform: scale(1.2);
  transition: 0.01s;
}

.rIcon-container {
  position: fixed;
  bottom: 1.5%;
  right: 0.5%;
  width: 75px;
  height: 75px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.rIcon-container > img {
  background-color: #ffffff59;
  border-radius: 7px;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.rIcon-container > img:hover {
  background-color: #8ffff662;
}

.rIcon-container > img:active {
  background-color: #1c63c062;
  transform: scale(1.2);
  transition: 0.01s;
}

.bg {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg > div {
  position: absolute;
  opacity: 70%;
  width: 100%;
  height: 100%;
  background: url(img/bg.jpg);
  filter: blur(0.5px) grayscale(0.3) brightness(0.86) contrast(1.5)
    hue-rotate(10deg);
  box-shadow: #4aa4c0 0px 0px 25px;
  background-size: cover;
}

.bg > div.dark {
  opacity: 25%;
}

.bg > .bg1 {
  animation: slideLeft 500s linear infinite;
}
.bg > .bg2 {
  animation: slideRight 500s linear infinite;
}

@keyframes slideLeft {
  0% {
    background-position: 207% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

@keyframes slideRight {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 207% 0;
  }
}

.img-dv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-dv img {
  max-width: 10rem;
  height: auto;
}

div.footer {
  text-align: center;
  position: static;
  bottom: 0px;
  padding: 15px;
  font-size: 24px;
  backdrop-filter: blur(3px);
  border-top: 2px solid #3c8ad3c0;
  box-shadow: 0px 0px 5px #1b3a7e;
  background: linear-gradient(180deg, #1a74b1b0, #087697a1);
  width: 100%;
}

.main-content > div {
  min-height: 45rem;
  margin-bottom: 6rem;
}

.main-content {
  padding: 20px;
  margin-top: 1%;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vcenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hcenter {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

#img1 {
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

#img2 {
  max-width: 40rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.textbox {
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
  min-height: 100%;
  height: 100%;
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.row {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textbox.intro {
  background: linear-gradient(130deg, #1a74b1b0, #088297a1);
  padding: 25px;
  border-radius: 7px;
  min-height: fit-content;
  justify-content: center;
}

.v1 {
  background: linear-gradient(130deg, #1a74b1b0, #088297a1);
}

.v2 {
  background: linear-gradient(130deg, #1ab19d7c, #086e97a1);
}
.v3 {
  background: linear-gradient(130deg, #3579c77c, #06466ba1);
}

.v4 {
  background: linear-gradient(130deg, #1a75b154, #044b582a);
}

.v5 {
  background: linear-gradient(130deg, #652491b0, #184d9279);
}

.v6 {
  background-color: #60ffb0c5;
}

.v7 {
  background-color: #b8ff97c5;
}

.textButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 170px;
  padding: 15px;
  background: linear-gradient(130deg, #2982bdb0, #1a8da1a1);
  border: 3px solid rgba(245, 245, 245, 0.301);
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

.textButton h2 {
  margin: 0;
  padding: 0;
}

.textButton img {
  max-width: 3rem;
  height: auto;
  box-shadow: none;
}

.textButton:hover {
  backdrop-filter: brightness(1.2);
}

.textButton:active {
  transition: 0.01s;
  backdrop-filter: brightness(1.3);
  transform: scale(1.05);
}

.textButton#riesgos1Button.active {
  backdrop-filter: hue-rotate(-60deg);
}
.textButton#riesgos2Button.active {
  backdrop-filter: hue-rotate(60deg);
}

.textButton#riesgos1Button.active:hover {
  backdrop-filter: hue-rotate(-60deg) brightness(1.2);
}
.textButton#riesgos2Button.active:hover {
  backdrop-filter: hue-rotate(60deg) brightness(1.2);
}

@keyframes moveUp {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(800px);
    padding: 0px 50px;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-800px);
    padding: 0px 200px;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.scroller {
  width: 100%;
  height: fit-content;
  user-select: none;

  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
  border-radius: 3px;
  padding: 20px;

  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
}

.scroll-card {
  display: inline-block;
  background: none;
  white-space: normal;
  transition: 0.2s;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.scroll-card > .textbox {
  height: 31rem;
  margin: 0;
}

#leftJumpButton {
  padding: 0;
  height: 100px;
  width: 80px;
  padding-top: 5px;
}

#rightJumpButton {
  padding: 0;
  height: 100px;
  width: 80px;
  padding-top: 5px;
}

#leftJumpButton > img {
  transform: rotate(90deg);
}

#rightJumpButton > img {
  transform: rotate(-90deg);
}

.spacing-1 {
  height: 1rem;
}
.spacing-2 {
  height: 2rem;
}
.spacing-3 {
  height: 3rem;
}

#metodos1Button {
  height: 10rem;
}

#metodos2Button {
  height: 10rem;
}

#metodos3Button {
  height: 10rem;
}

.textButton#metodos1Button.active {
  backdrop-filter: hue-rotate(-30deg);
}
.textButton#metodos2Button.active {
  backdrop-filter: hue-rotate(-30deg);
}
.textButton#metodos3Button.active {
  backdrop-filter: hue-rotate(-30deg);
}

.textButton#metodos1Button.active:hover {
  backdrop-filter: hue-rotate(-30deg) brightness(1.2);
}
.textButton#metodos2Button.active:hover {
  backdrop-filter: hue-rotate(-30deg) brightness(1.2);
}
.textButton#metodos3Button.active:hover {
  backdrop-filter: hue-rotate(-30deg) brightness(1.2);
}

@keyframes end {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    filter: hue-rotate(70deg) brightness(0.6) contrast(1.2);
  }
}

#end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 99vw;
}

.force-hidden{
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

@media screen and (max-width: 600px) {
  img {
    width: 90%;
  }

  div.navbar {
    width: 95%;
    height: 80%;
  }
  div.navbar-left {
    min-width: 100%;
    justify-content: center;
  }
  div.navbar-left button {
    width: 100%;
  }
  div.navbar-right {
    width: 100%;
    justify-content: center;
  }
  div.navbar-right button {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
  }
  div.vline {
    display: none;
  }

  div.main-content {
    max-width: 100%;
  }

  .lIcon-container {
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
  }
  .rIcon-container {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .scroller:has(img.zoom:hover) {
    z-index: -9999;
  }

  img.zoom:hover {
    box-shadow: 0 0px 25px rgb(0, 0, 0);
    transition: 0.05s;
    transform: scale(150%);
  }

  .scroll-card {
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
  }

  .scroll-card > .textbox {
    height: 30rem;
  }

  .scroll-card > .textbox > div > img {
    min-width: 118%;
  }

  .scroller {
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
  }

  .spacing {
    display: none;
  }

  #riesgos1Button {
    display: none;
  }

  #riesgos2Button {
    display: none;
  }

  #leftJumpButton {
    display: none;
  }
  #rightJumpButton {
    display: none;
  }

  #metodos1Button {
    display: none;
  }
  #metodos2Button {
    display: none;
  }
  #metodos3Button {
    display: none;
  }

  .img-dv {
    justify-content: center;
  }

  button.download {
    padding: 5px;
    font-size: 15px;
  }

  button.download > img {
    margin-right: 5px;
    margin-bottom: 0px;
    width: 2rem;
    height: 2rem;
    box-shadow: none;
  }

  p.textLink > a {
    font-size: 15px;
  }

  p.textLink > a > img {
    width: 50px;
    height: 50px;
  }

  div.hidden {
    display: block;
    opacity: 1;
  }
}
